{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "modules": true
    }
  },
  "rules": {
    "strict": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
